@import "variables.less"; 
html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1.4rem;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif; //'黑体', '微软雅黑', '宋体';
}

#root{
	height: 100%;
	.h100{
		height: 100%;
	}
	.weui-tab__bd-item{
		.h100;
	}
	.hide{
		display: none;
	}
	.showLoading{
		//opacity: 1; 
		// display: none;
		.weui-toast{
			opacity:1;
			visibility: visible;
		}
	}
	 
	.showDialog{
		//opacity: 1; 
		// display: none;
		.weui-mask{
			opacity:1;
			visibility: visible;
		}
		.weui-dialog{
			opacity:1;
			visibility: visible;
		}
	}
}